<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Piyinator</title>
    <!--link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"-->

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>

<body>
  <div class="container">

    <div class="chinese-input">
      <div class="header clearfix">
        <h3 class="text-muted">Pinyinator by: Derick and Kyle</h3>
      </div>
      <div class="form-group">
        <label for="chinese-text">Article:</label>
        <textarea class="form-control" rows="6" id="chinese-text"></textarea>
      </div>
      <button id="submit-button" type="button" class="btn btn-default">Pinyinify</button>
    </div>
    <div id="chinese-output"></div>

    <footer class="footer">
      <p>© 2015 Pinyinator, Inc.</p>
    </footer>
  </div>
  </div>

</body>

</html>
