<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Piyinator</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"> -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
  <form class="text-box" action="index.html" method="post">
    <input id='chinese-text' type="text" name="chinese-text" value="">
    <input class="button" id='submit-button' type="button" name="submit" value="">
  </form>
  <div class="output">

  </div>
</body>

</html>
